.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    background-color : #D3D3D3
}

.page-bar {
    margin-top: 0;
    padding: 10px 10px 20px 40px;
    background-color : #C0C0C0
}

.post{
    padding: 50px 0px 0px 100px
}

h1 a {
    color: #A52A2A;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 80px;
}

h2 a {
    color: #A52A2A;
    font-family: 'Gamja Flower', cursive;
    font-size: 60px;
}

div p {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
}

