.page-header {
    margin-top: 20px;
    padding: 20px 20px 20px 40px;
    background-color : #D3D3D3
}

.post{
    padding: 50px 0px 0px 100px
}

h1 a {
    color: #A52A2A;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 80px;
}

h2 a {
    color: #A52A2A;
    font-family: 'Gamja Flower', cursive;
    font-size: 60px;
}

div p {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment_mar{
    margin-left: 50px;
}

.relative{
    position: absolute;
}

.nav_position{
    position: fixed;
    top: 0px;
    width: 100%;
}
